<body>
    <div class="grid">
        
         <div  id="img1"> <img src="../../assets/Jeff.jpg"  alt=""> </div>
         <div id="img2"><img src="../../assets/Marissa.jpg"  alt=""></div>
         <div id="img3"><img src="../../assets/Mark.jpg"  alt=""></div>
         <div id="img4"><img src="../../assets/satya.jpg"  alt=""></div>
         
         <div id="img5"><img src="../../assets/sundhar.jpg"  alt=""></div>
         <div id="img6"><img src="../../assets/Tim.jpg"  alt=""> </div>
         </div>
</body>